<nav class="navbar">
  <div class="nav-links">
    <a routerLink="/dashboard">Listado de la compra</a>
    @if(isAdmin()) {
    <a routerLink="/products-table">Tabla de productos</a>
    }
  </div>
  <div class="user-info">
    <span class="username" (click)="toggleLogout()">
      {{ username ? (username | titlecase) : 'Invitado' }} <svg xmlns="http://www.w3.org/2000/svg" width="24"
        height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
        stroke-linejoin="round" class="lucide lucide-chevron-down">
        <path d="m6 9 6 6 6-6" />
      </svg>
    </span>
    <button *ngIf="showLogout" class="logout-btn" (click)="logout()">Cerrar sesión</button>
  </div>
</nav>